<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
  	
  	<select id="sportsList" parameterType="map" resultType="com.ho.gall.model.vo.Product">
  		<!-- select to_char(closingdate,'YYYY-MM-DD')as chardate , p.*,(select categoryname from category where p.productcategory=categoryid) as categoryname,(select categoryimage from category where p.productcategory=categoryid)as productimage from product p where p.productcategory = #{category} order by enrollproduct desc -->
  		select p.*,to_char(closingdate,'YYYY-MM-DD')as closingDatee,(select categoryname from category where p.productcategory=categoryid) as categoryname,(select categoryimage from category where p.productcategory=categoryid)as categoryimage,(select DISTINCT rethumbnail from productimage where p.productid=productid) as rethumbnail from product p where p.productcategory = #{category} and availability = 'Y' order by enrollproduct desc
  		
  	</select>
  	
  	<update id="views" parameterType="int">
  		update product set views = views + 1 where productId = #{productId}
  	</update>
  	
  	<select id="productCount" resultType="_int">
  		select count(*) from product where productcategory = #{category} and availability = 'Y' 
  	</select>
  	
  	<insert id="insertProduct" parameterType	="com.ho.gall.model.vo.ProductVo">
  		insert into Product values(SEQ_PRODUCT.nextval,#{productCategory},#{productName},#{buyNowPrice},#{buyNowWhether},#{priceStart},#{productOwner},sysdate,#{productEnrollType},'Y',#{productContent},#{closingDate},#{closingTime},#{commition},#{buyNowPrice},#{unit},'0')
  		<selectKey keyProperty="productId" resultType="_int" order="AFTER">
  			select SEQ_PRODUCT.currval from dual
  		</selectKey>
  	
  	</insert>
  	
  	<insert id="insertProductImage" parameterType="com.ho.gall.model.vo.ProductImage">
  		insert into ProductImage values(SEQ_IMAGEID.nextval,#{oriFileName},#{reFileName},#{productId},#{orithumbnail},#{rethumbnail})
  	</insert>
  	
  	<select id="readProduct" parameterType="int" resultType="com.ho.gall.model.vo.ReadProduct">
		<!-- select * from product where productId=#{productId} -->
		select p.*,to_char(closingdate,'YYYY-MM-DD')as closingDatee,to_char(enrollproduct,'YYYY-MM-DD')as enrolldate from product p where productId=#{productId}
  	</select>
  	
  	<select id="pCount" resultType="int">
  		select count(*) from participating where productId=#{productId}
  	</select>
  	
  	<select id="productImage" parameterType="int" resultType="com.ho.gall.model.vo.ProductImage">
  		select * from productImage where productId=#{productId}
  	</select>
  	
  	<insert id="winningBid" parameterType="com.ho.gall.model.vo.WinningBid" >
  		insert into winningbid values(SEQ_WBLIST.nextval,#{memberId},#{productId},#{name},#{price},#{image},#{seller},sysdate)
  	</insert>
  	
  	<update id="productOff" parameterType="int">
  		update product set availability = 'N' where productId = #{productId}
  	</update>
  	 
  	 <insert id="productBid" parameterType="com.ho.gall.model.vo.Participating">
  	 	insert into participating values(SEQ_PARTICIPATING.nextval,#{memberId},#{productId},sysdate,#{bidPrice},${curPrice})
  	 </insert>
  	 
  	 <update id="priceInsert" parameterType="map">
  	 	update product set price =#{maxPrice} where productId = #{productId}
  	 </update>
  	 
  	 <select id="maxPrice" resultType="com.ho.gall.model.vo.Participating">
  	 	select * from participating where curprice =(select max(curprice) from participating)
  	 </select>
  	 
  	 <select id="ppap" parameterType="_int" resultType="com.ho.gall.model.vo.Participating">
  	 	<!-- select * from participating where productId=#{productId} order by curprice desc -->
  	 	select parNo,memberId,productId,to_char(enrollDate,'YYYY-MM-DD')as enrollDatee,bidprice,curprice from participating where productId=#{productId} order by curprice desc
  	 </select>
  	 
  	 <select id="popularProduct" parameterType="map" resultType="com.ho.gall.model.vo.Product">
		<![CDATA[select p.*,to_char(closingdate,'YYYY-MM-DD')as closingDatee,(select categoryname from category where p.productcategory=categoryid) as categoryname,(select categoryimage from category where p.productcategory=categoryid)as categoryimage,(select DISTINCT rethumbnail from productimage where p.productid=productid) as rethumbnail from (select * from product order by views desc) p where availability ='Y' and rownum <= 6 order by views desc]]>
  	 </select>
  	 
  	<select id="itemCount" resultType="int">
  		select count(*) from product
  	</select>
  	
  	<select id="searchProduct" resultType="map">	
  		select productid,productname from product where PRODUCTNAME LIKE '%'||#{keyword}||'%'
  	</select>
  	
  	<insert id="commentInsert" parameterType="com.ho.gall.model.vo.ProductComment">
  		insert into productcomment values (SEQ_COMMENT.nextval,#{productId},#{memberId},#{commentContent},SEQ_COMMENT.nextval,'0','0','1',sysdate)
  	</insert>
  	
  	<select id="comments" parameterType="_int" resultType="com.ho.gall.model.vo.ProductComment">
  		select c.*,to_char(enrollcomment,'YYYY-MM-DD')as enroll from productcomment c where productid = #{productId} order by  groupId asc, enrollcomment asc 
  	</select>
  	
  	<select id="commentCount" parameterType="_int" resultType="_int">
  		select count(*) from productcomment where productId = #{productId}
  	</select>
  	
	<delete id="cmtDel" parameterType="_int">
		delete from productcomment where commentno = #{commentNo}
	</delete>
	
	<insert id="cmtAnswer" parameterType="com.ho.gall.model.vo.ProductComment">
		insert into productcomment values (SEQ_COMMENT.nextval,#{productId},#{memberId},#{commentContent},#{groupId},SEQ_COMMENT.nextval,'1','2',sysdate)
	</insert>
	
	<select id="cmtAnswerList" parameterType="com.ho.gall.model.vo.ProductComment" resultType="com.ho.gall.model.vo.ProductComment">
		select c.*,to_char(enrollcomment,'YYYY-MM-DD')as enroll from productcomment c where productid = #{productId} and depth = '1' order by enrollcomment
	</select>
</mapper>
